<app-header-menu link="https://github.com/DanielKremes"></app-header-menu>
<div class="test">
  <app-main-page
  title="computer"
  photoTitle="https://img.freepik.com/vetores-gratis/modern-cpu-collection-com-vista-isometrica_23-2147957521.jpg?w=740&t=st=1701182522~exp=1701183122~hmac=d5a0376ea9b8d780a3337f5649bf30ab94466b2712b82226d82d6fdca878e3fb"
   description="Na tecnologia, o computador pessoal, mais conhecido pela sigla PC (do inglês personal computer) é uma expressão que representa um computador de pequeno porte (computador de mesa, computador portátil), que se destina ao uso pessoal/doméstico ou por um pequeno grupo de indivíduos/família. Onde os sistemas operacionais predominantes são Microsoft Windows, Mac OS e, os sistemas baseados em Linux, e as principais arquiteturas são as baseadas nos processadores x86, x64 (inicialmente usavam PowerPC). O termo PC foi bastante difundido entre usuários de computadores pessoais derivados do modelo da IBM, o IBM PC, devido à larga campanha publicitária em 1981. A atual convergência entre PCs e palmtops, celulares e dispositivos móveis que possuem funções similares, sistemas operacionais e componentes leva a uma discussão sobre a extensão do termo computador pessoal"
   alt="a image of representations about computer"></app-main-page>


  <app-main-page
  title="star"
  photoTitle="https://images.pexels.com/photos/87611/sun-fireball-solar-flare-sunlight-87611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  description="Uma estrela é um objeto astronômico que compreende um esferóide luminoso de plasma mantido unido pela autogravidade . A estrela mais próxima da Terra é o Sol . Muitas outras estrelas são visíveis a olho nu à noite ; suas imensas distâncias da Terra fazem com que pareçam pontos fixos de luz. As estrelas mais proeminentes foram categorizadas em constelações e asterismos , e muitas das estrelas mais brilhantes têm nomes próprios . Os astrônomos montaram catálogos de estrelas que identificam as estrelas conhecidas e fornecem designações estelares padronizadas ."
  alt="A photo of representations at the star sun"></app-main-page>



  <app-main-page title="cosplay"
  photoTitle="https://images.pexels.com/photos/65767/pexels-photo-65767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  description="Cosplay , uma mala de viagem de 'fantasia', é uma atividade e arte performática em que os participantes chamados cosplayers usam fantasias e acessórios de moda para representar um personagem específico .Cosplayers frequentemente interagem para criar uma subcultura , e um uso mais amplo do termo 'cosplay' se aplica a qualquer dramatização fantasiada em locais diferentes do palco. Qualquer entidade que se preste à interpretação dramática pode ser considerada como sujeito. As fontes favoritas incluem animes , desenhos animados , histórias em quadrinhos , mangás , séries de televisão , apresentações de rock , videogames e, em alguns casos, personagens originais . O termo é composto pelas duas contrapartes acima mencionadas – figurino e dramatização."
  alt="A photo of representations of the cosplay"
  ></app-main-page>


  <app-main-page
  title="webpage"
  photoTitle="https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  description="A Internet (ou internet ) [a] é o sistema global de redes de computadores interconectadas que utiliza o conjunto de protocolos da Internet (TCP/IP) [b] para comunicação entre redes e dispositivos. É uma rede de redes que consiste em redes privadas, públicas, acadêmicas, empresariais e governamentais de âmbito local a global, ligadas por uma ampla gama de tecnologias de redes eletrônicas, sem fio e ópticas . A Internet transporta uma vasta gama de recursos e serviços de informação, tais como documentos de hipertexto interligados e aplicações da World Wide Web (WWW), correio electrónico , telefonia e partilha de ficheiros ."
  alt="A photo of representation of internet"
  ></app-main-page>
</div>


<app-footer-page></app-footer-page>
